.user-bg {
    background-color: #007bff; /* Blue color for user */
    color: #fff; /* White text for contrast */
    padding: 2px;
}

.client-bg {
    background-color: #28a745; /* Green color for client */
    color: #fff; /* White text for contrast */
}